body {
     background-color: #0d1117;
}

div {
     text-align: center;
}

#time {
     color: white;
     font-weight: bold;
     margin-top: 16px;
     font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;
}

.avatar {
     margin: 0 auto;
     overflow: hidden;
     width: 333px;
     height: 333px;
     border-radius: 50%;
}

.text {
     color: white;
     font-size: 32px;
     font-family: Arial, Helvetica, sans-serif;
}
.small-text {
     color: white;
     font-size: 24px;
     font-family: Arial, Helvetica, sans-serif;
}

.smaller-text {
     color: white;
     font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;
}

.footer {
     position: absolute;
     left: 0;
     bottom: 0;
     width: 98%;
     float: left;
     padding: 1%;
     margin-top: 10px;
}

.footer #social {
     float: left;
}
