body {
     background-color: rgb(13, 17, 23);
}

div {
     text-align: center;
}

#time {
     color: white;
     font-weight: bold;
     margin-top: 16px;
     font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;
}

.avatar {
     margin: 0 auto;
     overflow: hidden;
     width: 333px;
     height: 333px;
     border-radius: 50%;
}

.text {
     color: white;
     font-size: 32px;
     font-family: Arial, Helvetica, sans-serif;
}
.small-text {
     color: white;
     font-size: 24px;
     font-family: Arial, Helvetica, sans-serif;
}
